DATABASE_URL= # Your database connection URL
BETTER_AUTH_URL=http://localhost:3000 # Your APP BASE URL
BETTER_AUTH_SECRET= # Your Auth secret, can create a random string or use "openssl rand -base64 32" to generate one in the terminal.

GOOGLE_CLIENT_ID= # Your Google Client ID
GOOGLE_CLIENT_SECRET= # Your Google Client Secret
